body {
  font-family: Anuphan;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8em;
  scrollbar-color: #1c1d21 #36373d;
}
header {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #b5b5b5;
}
.area {
    display: flex;
    flex-wrap: wrap;        /* lets them wrap on smaller screens */
    gap: 20px;              /* spacing between cards (optional) */
    justify-content: center; /* centers the cards horizontally */
}

.content-background.endfield {
  background-image: linear-gradient(180deg,transparent,#23242a 80%),url(/images/Arknights_Endfield_index.png);
}
.content-background.endfield2 {
  background-image: linear-gradient(180deg,transparent,#23242a 80%),url(/images/background.png);
}

.content-background {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -5;
}

.logo {
  width: 244.5;
  height: 100;
  text-align: center;
}
.pw-content-placeholder {
  margin: 15px 0;
  min-height: 140px;
}

.section-header.with-control {
  align-items: center;
  display: flex;
}

.section-header {
  border-bottom: 2px solid #2692d3;
  margin: 25px 0 15px;
  padding-bottom: 6px;
}


.avatar-head {
  height: 180px;
  margin: auto;
    margin-top: auto;
    margin-bottom: auto;
  display: block;
  margin-bottom: -10px;
  margin-top: -12px;
  z-index: -1;
  max-width: 100%;
  object-fit: contain;
}

.avatar-card {
  line-height: 2;
  color: #eeeeee;
  text-align: center;
  cursor: pointer;
}

.hover-shadow {
  position: relative;
  cursor: pointer;
}

.av {
  font-size: 16px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


