:root {
  interpolate-size: allow-keywords;
}

body {
  font-family: Anuphan;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8em;
  scrollbar-color: #1c1d21 #36373d;
}

header {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #b5b5b5;
}

.area {
  display: flex;
  flex-wrap: wrap;
  /* lets them wrap on smaller screens */
  gap: 20px;
  /* spacing between cards (optional) */
  justify-content: center;
  /* centers the cards horizontally */
}

.gacha_1 {
  width: 100%;
  margin-left: calc(50% - min(500px, 100%) / 2);
  max-width: 500px;
}

button {
  display: inline-block;
  width: calc((100% - 50px) / 5);
  text-align: center;
  padding: 15px 0px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;
}

.buttons {
  text-align: center;
}

.gacha_2 {
  width: 100%;
  max-width: 500px;
  margin: 0 0 -20px 0;
}

.mat {
  margin: 10px 7px;
  padding: 0px 12px;
  line-height: 25px;
  text-align: center;

}

.mat_a {
  position: relative;
  color: #eeeeee;
}

.mat_num {
  right: 0px;
  font-size: 15px !important;
}

.a_section,
.a_section_small,
.a_section_smallsmall,
.a_section_small_1,
.a_section_small_2,
.a_section_small_3,
.a_section_small_4 {
  width: calc(100% - 4px);
  display: inline-block;
  border-radius: 10px;
  background-color: #111;
  color: #eeeeee;
  position: relative;
  margin: 3px 0;
}

.a_section_head,
.a_section_head span {
  font-size: 20px;
}

.a_section_content {
  font-size: 17px;
}

.sbp {
  margin-right: 10px;
  white-space: pre;
}

.head_withimg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.head_left {
  width: 50px;
  height: 50px;
}

.head_right {
  margin: 0 0 0 5px;
}

.hr_1 {
  width: calc(100% - 55px);
}


.mon_body,
.mon_body_2 {
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}


.gacha_2 {
  width: 70%;
  max-width: 500px;
  margin: 0 0 -20px 0;
}

.opcard {
  image-orientation: left;
}

.opcard-table {
  margin: 0px auto;
  border: 2px solid #f1f1f1;
  text-align: center;
}

.mat-table {
  margin: 0px auto;
  border: 1px solid #f1f1f1;
  text-align: center;
}

.gallery-table {
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid var(--theme-border-color)
}


.content-background.endfield {
  background-image: linear-gradient(180deg, transparent, #23242a 80%), url(/images/Arknights_Endfield_index.png);
  position: absolute;
}

.content-background.endfield2 {
  background-image: linear-gradient(180deg, transparent, #23242a 80%), url(/images/AKEndfield.png);
  position: absolute;
}

.content-background {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -5;
}

.logo {
  width: 244.5;
  height: 100;
  text-align: center;
}

.pw-content-placeholder {
  margin: 15px 0;
  min-height: 140px;
}

.section-header.with-control {
  align-items: center;
  display: flex;
}

.section-header {
  border-bottom: 2px solid #2692d3;
  margin: 25px 0 15px;
  padding-bottom: 6px;
}


.avatar-head {
  height: 180px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  margin-bottom: -10px;
  margin-top: -12px;
  z-index: -1;
  max-width: 100%;
  object-fit: contain;
}

.avatar-card {
  line-height: 2;
  color: #eeeeee;
  text-align: center;
  cursor: pointer;
}

.hover-shadow {
  position: relative;
  cursor: pointer;
}

.av {
  font-size: 16px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top left corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#box {
  height: 500px;
  width: 500px;
  border: 2px solid red;
  position: relative;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

details p {
  animation: anim 400ms;
  transform-origin: top;
}

summary {
  font-size: 1em;
}

@keyframes anim {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#lore {
  transition: margin-left .5s;
  padding: 20px;
}

#buttontrans {
  transition: margin-left .5s;
  padding: 20px;
}

.tabber {
  position: relative;
  overflow: hidden
}

.tabber__header {
  box-shadow: inset 0 -1px 0 0 var(--border-color-base, #a2a9b1)
}

.tabber__tabs {
  display: flex;
  overflow: auto hidden
}

.tabber__tab {
  padding: 0.5em 0.75em;
  font-weight: bold;
  white-space: nowrap
}

.tabber__tab,
.tabber__tab:hover,
.tabber__tab:active,
.tabber__tab:focus {
  text-decoration: none
}

.tabber__tab,
.tabber__tab:visited {
  color: var(--color-base, #202122)
}