body {
  background-image: url("./images/background.png");
}

.sidebar__wrapper {
    --list-gap: 0.5rem;
    display: flex;
    flex-flow: column;
    gap: var(--list-gap);
}

.sidebar_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.125rem;
    overflow: hidden;
}

.sidebar__item {
    block-size: var(--item);
    border-radius: var(--brad-inner);
}

.item--heading {
    display: flex;
    align-items: end;
}

